// colors
@white: #eeeeee;
@black: #000000;
@primary: #467082;
@secondary: #950b5e;
@base: #d8d8d8;

//widths
@laptop-width: 1025px;
@sidebar-width: 250px;
@sidebar-height: 30vh;

@border-radius: 3px;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  @media (min-width: @laptop-width) {
    overflow: hidden;
  }
}

.container-fluid {
  padding: 0;
}

.sidebar {
  background: url('../../img/tweed.png') repeat;
  height: @sidebar-height;

  @media (min-width: @laptop-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: @sidebar-width;
    height: auto;

  }

  .brand-title {
    color: @primary;
  }
}

.content {
  background: url('../../img/furley_bg.png') repeat;
  height: auto;
  .fix-position-sidebar;

  .wrapper {
      .pad-bottom(5vh);
  }
}

.card {
  border-radius: @border-radius;
  margin: 5vh auto;
  background: @white;

  width: 90vw;
  height: 60vw;
  @media (min-width: @laptop-width) {
    width: 70vw;
    height: 40vw;
  }
}
.card-thumbnail {
  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;
  background: @secondary;
  height: 80%;
}
.card-title {
  border-bottom-left-radius: @border-radius;
  border-bottom-right-radius: @border-radius;
  background: @primary;
  height: 20%;
}

//blog-post
.blog-post {
  background: @white;
  .fix-position-sidebar;

  .wrapper {
      .pad-bottom(20vh);
  }
  @media (max-width: 1024px) {
    .relative-position;
  }
}

.close-button {
  border-radius: @border-radius;
  .items-middle;
  height: 40px;
  width: 40px;
  text-align: center;
  background: rgba(51, 51, 51, .20);
  color: @white;

  &:hover {
    background: rgba(51, 51, 51, 0.75);
  }

  @media (max-width: 1024px) {
    top: (@sidebar-height + 10px);
    .close-button-absolute;
  }
  @media (min-width: 1025px) {
    .close-button-fixed;
  }
}

.close-button-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close-button-absolute {
  position: absolute;
  top: 20px;
  right: 20px;
}

.post {
  height: 110vh;
}

// helpers
.fix-position-sidebar {
  @media (min-width: @laptop-width) {
    margin-left: @sidebar-width;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

.hide {
  display: none;
}

.pad-bottom(@pad) {
  padding-bottom: @pad;
}

.items-middle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 10px;
}

.relative-position {
  position: relative;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(85,85,85,1);
  -moz-box-shadow: 0px 0px 4px 2px rgba(85,85,85,1);
  box-shadow: 0px 0px 4px 2px rgba(85,85,85,1);
}
