// colors
@white: #eeeeee;
@black: #000000;
@primary: hsla(340, 82%, 52%, 1);
@secondary: #950b5e;
@base: #d8d8d8;

@font-open: 'Open Sans', sans-serif;
@font-roboto: 'Roboto', sans-serif;

//widths
@laptop-width: 1025px;
@sidebar-width: 250px;
@sidebar-height: 30vh;

@border-radius: 3px;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  @media (min-width: @laptop-width) {
    overflow: hidden;
  }
  font-family: @font-open;
}

.container-fluid {
  padding: 0;
}

.sidebar {
  background: #222222;
  height: @sidebar-height;

  .flex-container;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  @media (min-width: @laptop-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: @sidebar-width;
    height: auto;
    min-height: 100vh;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}

.logo {
  .primary-background(1);
  width: 23vh;
  align-self: center;
  margin-left: 1vh;

  @media (min-width: @laptop-width) {
    margin: 30px 0 10px 0;
    width: 70%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.sidebar-content {
  @media (min-width: @laptop-width) {
    margin: 30px 0 30px 0;
  }
  padding: 0 10px;
  .flex-container;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  align-self: stretch;
}

nav {
  .flex-container;
  justify-content: center;
  h4 {
    color: hsla(255, 100%, 100%, 0.7);
    text-align: center;
    margin: 0;
    padding: 10px 10px;
    align-self: center;
    @media (min-width: @laptop-width) {
      align-self: stretch;
    }

    &:hover {
      .secondary-background(0.5);
    }
  }

}

.content {
  height: auto;
  .fix-position-sidebar;

  .wrapper {
      .pad-bottom(5vh);
  }
  .container-fluid {
    margin:auto; // centers horizontally
    text-align: center;
    margin: 5vh auto;
  }
}

.masthead {
  text-align: center;
  margin-top: 30px;
  img {
    width: 95%;
  }
}

.card {
  display: inline-block;
  cursor: pointer;

  &:hover {
    .card-title {
      span {
        .primary-color(1);
      }
    }
  }
}

.card-thumbnail {
  height: 60vw;
  @media (min-width: @laptop-width) {
    height: 30vw;
  }
  .card-width;

  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;

  overflow: hidden;
  img {
    width: 100%;
  }
  border: 0.5px solid rgba(0, 0, 0, .3);
}

.card-title {
  border-bottom-left-radius: @border-radius;
  border-bottom-right-radius: @border-radius;
  background: transparent;
  .card-width;
  text-align: left;
  h2 {
    .primary-color(0.9);
    .font-settings(500, 2.3em, 1.5px, 1.1em);
    @media (min-width: @laptop-width) {
      .font-settings(600, 2.3em, 1.5px, 1.5em);
    }
  }
  h4 {
    .secondary-color(0.6);
    .font-settings(300, 1.1em, 1px, 1.4em);
    @media (min-width: @laptop-width) {
      .font-settings(300, 1.3em, 1.5px, 1.4em);
    }
  }
  span {
    .primary-color(0.5);
    @media (min-width: @laptop-width) {
      .primary-color(0.4);
    }
  }
}

//blog-post
.blog-post {
  .fix-position-sidebar;
  height: auto;

  .wrapper {
      .pad-bottom(30vh);
  }

  @media (max-width: 1024px) {
    .relative-position;
  }
}

.close-button {
  border-radius: @border-radius;
  .items-middle;
  height: 40px;
  width: 40px;
  text-align: center;
  background: rgba(51, 51, 51, .20);
  color: @white;

  &:hover {
    background: rgba(51, 51, 51, 0.75);
  }

  @media (max-width: 1024px) {
    top: (@sidebar-height + 10px);
    .close-button-absolute;
  }
  @media (min-width: 1025px) {
    .close-button-fixed;
  }
}

.close-button-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close-button-absolute {
  position: absolute;
  top: 20px;
  right: 20px;
}

.post {
  min-height: 100vh;
  width: 90%;
  p {
    .secondary-color(.75);
    // color: hsla(246, 68%, 26%, 0.8);
    .font-settings(400, 1.2em, 1px, 2em);
  }

  @media (min-width: @laptop-width) {
    p {
      .font-settings(400, 1.5em, 1px, 2em);
    }
    width: 70%;
  }
}

// helpers
.fix-position-sidebar {
  @media (min-width: @laptop-width) {
    margin-left: @sidebar-width;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

.hide {
  display: none;
}

.pad-bottom(@pad) {
  padding-bottom: @pad;
}

.items-middle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 10px;
}

.relative-position {
  position: relative;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(85,85,85,.5);
  -moz-box-shadow: 0px 0px 4px 2px rgba(85,85,85,.5);
  box-shadow: 0px 0px 4px 2px rgba(85,85,85,.5);
}

.border {
  // border: 1px solid #950b5e;
  border: 1px solid rgba(0, 0, 0, .6);
}

.font-settings(@f-w, @f-s, @l-s, @l-h) {
  font-family: @font-open;
  font-weight: @f-w;
  font-size: @f-s;
  letter-spacing: @l-s;
  line-height: @l-h;
}

.card-width {
  width: 90vw;
  @media (min-width: @laptop-width) {
    width: 65vw;
  }
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  @media (min-width: @laptop-width) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.primary-color(@alpha) {
  color: hsla(338, 78%, 48%, @alpha);
}

.secondary-color(@alpha) {
  color: hsla(0, 0%, 0%, @alpha);
}

.primary-background(@alpha) {
  background: hsla(338, 78%, 48%, @alpha);
}

.secondary-background(@alpha) {
  background: hsla(0, 0%, 0%, @alpha);
}

.tablet-mode {
  @media (min-width: @laptop-width) {
    display: none;
  }
}

.laptop-mode {
  @media (max-width: 1024px) {
    display: none;
  }
}





//share & follow
.follow, .share {
  align-self: center;
  cursor: default;
  padding: 0;
  margin: 10px .5em;
  position: relative;
  text-align: center;

  &:hover .label {
    opacity: 0;
    transition: opacity .2s .125s ease-out;
  }
  &:hover .icon {
    border-radius: 1em;
    margin: 0 0;
  }
}

.icon, .label {
  background-color: white;
  line-height: 2rem;
}
.label {
  padding: 5px 10px;
  color: #222;
  border-radius: 1rem;
  position: absolute;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: .0816em;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  pointer-events: none;
  text-transform: uppercase;
  transition: opacity .2s .2s ease-out;
}

.icon {
  padding-top: 2px;
  display: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  margin: 0 -.5em;
  transition:
    background-color .2s ease-out,
    border-radius .2s .25s ease-out,
    margin .2s .25s ease-out;
  width: 2em;

  &.first {
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    margin-left: 0;
  }

  &.last {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    margin-right: 0;
  }

  &:hover {
    background-color: @secondary;
    color: white;
  }
}
