// colors
@white: #eeeeee;
@black: #000000;
@primary: #467082;
@secondary: #950b5e;
@base: #d8d8d8;

@font-family: 'Open Sans', sans-serif;

//widths
@laptop-width: 1025px;
@sidebar-width: 250px;
@sidebar-height: 30vh;

@border-radius: 3px;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  @media (min-width: @laptop-width) {
    overflow: hidden;
  }
  font-family: @font-family;
}

.container-fluid {
  padding: 0;
}

.sidebar {
  background: #222;
  height: @sidebar-height;

  .flex-container;
  justify-content: space-around;
  flex-wrap: nowrap;

  @media (min-width: @laptop-width) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: @sidebar-width;
    height: auto;
    min-height: 100vh;
  }
}

.logo {
  background: white;
  width: 23vh;
  align-self: flex-start;
  margin-left: 1vh;

  @media (min-width: @laptop-width) {
    align-self: flex-start;
    margin: 40px 0;;
    width: 70%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.content {
  height: auto;
  .fix-position-sidebar;

  .wrapper {
      .pad-bottom(5vh);
  }
  .container-fluid {
    margin:auto; // centers horizontally
    text-align: center;
    margin: 5vh auto;
  }
}

.card {
  display: inline-block;
  cursor: pointer;

  &:hover {
    .card-title {
      // h2, h4 {
      //   color: rgba(0, 0, 0, 1);
      // }
      span {
        color: hsla(340, 82%, 52%, 1);
      }
    }
  }
}

.card-thumbnail {
  height: 60vw;
  @media (min-width: @laptop-width) {
    height: 30vw;
  }
  .card-width;

  border-top-left-radius: @border-radius;
  border-top-right-radius: @border-radius;

  overflow: hidden;
  img {
    width: 100%;
  }
  border: 0.5px solid rgba(0, 0, 0, .3);
}

.card-title {
  border-bottom-left-radius: @border-radius;
  border-bottom-right-radius: @border-radius;
  background: transparent;
  .card-width;
  text-align: left;
  h2 {
    color: rgba(0, 0, 0, .8);
    .font-settings(400, 2.3em, 1.5px, 1.1em);
    @media (min-width: 1024px) {
      .font-settings(400, 2.3em, 1.5px, 1.5em);
    }
  }
  h4 {
    color: rgba(0, 0, 0, .6);
    .font-settings(300, 1.1em, 1px, 1.4em);

    @media (min-width: @laptop-width) {
      .font-settings(300, 1.3em, 1.5px, 1.4em);
    }
  }
  span {
    color: hsla(340, 82%, 52%, 0.5);
    @media (min-width: @laptop-width) {
      color: hsla(340, 82%, 52%, 0.5);
    }
  }
}

//blog-post
.blog-post {
  .fix-position-sidebar;
  height: auto;

  .wrapper {
      .pad-bottom(30vh);
  }

  @media (max-width: 1024px) {
    .relative-position;
  }
}

.close-button {
  border-radius: @border-radius;
  .items-middle;
  height: 40px;
  width: 40px;
  text-align: center;
  background: rgba(51, 51, 51, .20);
  color: @white;

  &:hover {
    background: rgba(51, 51, 51, 0.75);
  }

  @media (max-width: 1024px) {
    top: (@sidebar-height + 10px);
    .close-button-absolute;
  }
  @media (min-width: 1025px) {
    .close-button-fixed;
  }
}

.close-button-fixed {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close-button-absolute {
  position: absolute;
  top: 20px;
  right: 20px;
}

.post {
  min-height: 100vh;
  width: 90%;
  p {
    color: rgba(0, 0, 0, 0.75);
    // color: hsla(246, 68%, 26%, 0.8);
    .font-settings(400, 1.2em, 1.5px, 2em);
  }
  @media (min-width: @laptop-width) {
    p {
      .font-settings(400, 1.5em, 1.5px, 2em);
    }
    width: 70%;
  }
}

// helpers
.fix-position-sidebar {
  @media (min-width: @laptop-width) {
    margin-left: @sidebar-width;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }
}

.hide {
  display: none;
}

.pad-bottom(@pad) {
  padding-bottom: @pad;
}

.items-middle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding-top: 10px;
}

.relative-position {
  position: relative;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(85,85,85,.5);
  -moz-box-shadow: 0px 0px 4px 2px rgba(85,85,85,.5);
  box-shadow: 0px 0px 4px 2px rgba(85,85,85,.5);
}

.border {
  // border: 1px solid #950b5e;
  border: 1px solid rgba(0, 0, 0, .6);
}

.font-settings(@f-w, @f-s, @l-s, @l-h) {
  font-family: @font-family;
  font-weight: @f-w;
  font-size: @f-s;
  letter-spacing: @l-s;
  line-height: @l-h;
}

.card-width {
  width: 90vw;
  @media (min-width: @laptop-width) {
    width: 65vw;
  }
}

.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  @media (min-width: @laptop-width) {
    flex-direction: row;
  }
}
