html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 300px;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
}

@media (min-width: 1025px) {
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

/*icon fonts*/
@font-face {
      font-family: 'fontello';
      src: url('./utils/font/fontello.eot?61577983');
      src: url('./utils/font/fontello.eot?61577983#iefix') format('embedded-opentype'),
           url('./utils/font/fontello.woff?61577983') format('woff'),
           url('./utils/font/fontello.ttf?61577983') format('truetype'),
           url('./utils/font/fontello.svg?61577983#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}