* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#layout {
    padding: 0;
}

.sidebar {
    background: url('../img/tweed.png') repeat;
    color: #eee;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}

.content {
    /*padding: 2em 1em 0;*/
    /*background: url('../img/xv.png') repeat;*/
    background: #eee;
    min-height: 100vh;
}

.masthead {
  padding: 2em 1em 0;
  color: #555;
  height: 75vh;
}

@media (min-width: 48em) {
  .header {
      margin: 80% 2em 0;
      text-align: right;
  }

  .content {
      /*padding: 2em 3em 0;*/
      margin-left: 25%;
  }
  .masthead {
    padding: 2em 3em 0;
    height: 40vh;
  }
  .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
  }
}
